@import 'basscss-basic';

@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';

@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/legacy/base-forms';
@import 'basscss-addons/modules/legacy/color-forms';
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';

@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/background-colors';
 
 
*{
  box-sizing: border-box;
}
 header {
                   width: 100%;
     }
     input{
    width: 219px;
    margin-right: 23px;
  }

.header_titel{
				max-width: 100%;
                 margin-top: 75px;
                 margin-bottom: 50px;
                 
}
.Fetch_btn{
	
	    margin-right: 24px;
}
.restore_btn{
    margin-right: 18px;
}
.delete_btn{
  display: none;
  transition: all .5s ease-in-out;

}

.restore_label{
	    font-weight: bold;
    color: #0077cc;
}

.main_fetch{
  background: #e0d8d8;
    color: #0077cc;
        width: 64%;
    margin: 0 auto;
}
.temp_fetch{
  display: none;
  background: #e0d8d8;
    color: #0077cc;
        width: 64%;
    margin: 0 auto;
}






@media screen and (max-width: 845px) and (min-width: 669px) {
  
  .restore_btn{
    display: block;
    position: relative;
    margin: 17px auto;
    width: 222px;
  }
    .delete_btn {
    margin-top: 26px;
}
    
}

   @media only screen and (max-width: 668px) and (min-width: 400px) {
    input{
    margin-right: 102px !important ;
  }
    	.header_titel{
    		font-size: 1 rm;
    	}
    	.Fetch_btn{
    		    display: block;
    margin: 6px auto;
    width: 224px;
  }
.restore_btn{
	    display: block;
    margin: 7px auto;
    width: 224px;
    
}
}
   @media only screen and (max-width: 466px) and (min-width: 400px) {
    .restore_btn{

        display: block;
    margin: 10px auto;
    width: 228px;
   }}

/*Some Style for UI blocking*/

    .av-loading-indicator {
    text-align: center;
} 
.av-loading-bullet {
    display: inline-block;
    opacity: 0;
    font-size: 1.2em;
    color: #02a17c;
}
.av-block-ui {
    position: relative;
    min-height: 3em;
}
.av-block-ui-container {
    position: absolute;
    z-index: 1010;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 2em;
    cursor: wait;
    overflow: hidden;
}
.av-block-ui-container:focus {
    outline: none;
}
.av-block-ui-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: white;
}
.av-block-ui-message-container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    z-index: 10001;
}
.av-block-ui-message {
    color: #333;
    background: none;
    z-index: 1011;
}
	
/*END Style for UI blocking*/








    	






