//colors
$color_lochmara_approx: #0077cc;
$color_swiss_coffee_approx: #e0d8d8;

* {
	box-sizing: border-box;
}
header {
	width: 100%;
}
input {
	width: 219px;
	margin-right: 23px;
}
.header_titel {
	max-width: 100%;
	margin-top: 75px;
	margin-bottom: 50px;
}
.Fetch_btn {
	margin-right: 24px;
}
.restore_btn {
	margin-right: 18px;
}
.delete_btn {
	display: none;
}
.restore_label {
	font-weight: bold;
	color: $color_lochmara_approx;
}
.main_fetch {
	background: $color_swiss_coffee_approx;
	color: $color_lochmara_approx;
	width: 64%;
	margin: 0 auto;
}
.temp_fetch {
	display: none;
	background: $color_swiss_coffee_approx;
	color: $color_lochmara_approx;
	width: 64%;
	margin: 0 auto;
}
@media screen and(max-width: 845px) and(min-width: 669px) {
	.restore_btn {
		display: block;
		position: relative;
		margin: 17px auto;
		width: 222px;
	}
	.delete_btn {
		margin-top: 26px;
	}
}
@media only screen and(max-width: 668px) and(min-width: 400px) {
	input {
		margin-right: 102px !important;
	}
	.header_titel {
		font-size: 1 rm;
	}
	.Fetch_btn {
		display: block;
		margin: 6px auto;
		width: 224px;
	}
	.restore_btn {
		display: block;
		margin: 7px auto;
		width: 224px;
	}
}
@media only screen and(max-width: 466px) and(min-width: 400px) {
	.restore_btn {
		display: block;
		margin: 10px auto;
		width: 228px;
	}
}